---
layout: archive
title: " "
permalink: /talks/
author_profile: true
---

<head>
  <style>
.page__title {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.archive {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.page__inner,
.page__content,
.main {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
</style>
</head>

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full list of publications</title>

</head>
    <h2>Publications & preprints</h2>
    <hr>
<body>
    <ol>
        <li>
            <p>Decorrelation of Hecke-Maaß cusp forms. <br>  (With Jesse Thorner, in preparation) </p> 
        </li>
        <li>
            <p>Zeros of Polynomials in Derivatives of Automorphic $L$-functions. <br>  (With Anji Dong and Alexandru Zaharescu, submitted 2025) </p> 
        </li>
        <li>
            <p>A metric approach to zero-free regions for $L$-Functions. <a href="https://arxiv.org/abs/2504.05606">(arXiv)</a> <br>  (Submitted 2025) </p> 
        </li>
        <li>
            <p>Effective correlation and decorrelation for newforms, and weak subconvexity for $L$-functions. <a href="http://arxiv.org/abs/2405.05249">(arXiv)</a> <br>  (With an appendix by Jesse Thorner, under revision at Mathematische Zeitschrift) </p> 
        </li>
        <li>
            <p>Walking to Infinity Along Some Number Theory Sequences.  <a href="https://math.colgate.edu/~integers/y78/y78.pdf">(pdf)</a> <br> (With Steven J. Miller, Fei Peng, Tudor Popescu, Joshua Siktar, and the Polymath REU program) Integers 24 (2024).</p>
        </li>
        <li>
            <p>An Alternative Approach to Computing $\beta(2k + 1)$. <a href="http://math.colgate.edu/~integers/x72/x72.pdf">(pdf) </a> <br> (With Naomi Tanabe) Integers 23 (2023). </p>
        </li>
        <li>
            <p>Walking to Infinity on the Fibonacci Sequence. <a href="https://www.fq.math.ca/Papers1/60-5/miller2.pdf">(pdf)</a>  <br> (With Steven J. Miller, Fei Peng, Tudor Popescu) Fibonacci Quart. 60 (2022), no. 5, pp. 293-299.</p>
        </li>
        <li>
            <p>Modeling Random Walks to Infinity on Primes in $\mathbb{Z}[\sqrt{2}]$.<a href="http://ploynawapan.github.io/files/miller11.pdf">(pdf)</a>  <br>  (With Bencheng Li,  Steven J. Miller, Daniel Sarnecki, Tudor Popescu) J. Integer Seq. 25 (2022), 21 pp. </p>
        </li>
    </ol>
</body>

    
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full list of invited talks</title>
</head>
    <h2>Invited Talks</h2>
    <hr>
<body>
<ul>
<li> JMM: AMS Special Session on Recent Trends in Analytic Number Theory, Washington, DC, Jan 2026. &dagger;</li>
<li> PAlmetto Number Theory Series (PANTS), Clemson, SC, Dec 2025. (Invited graduate student speaker) </li>
<li> JMM: AMS Special Session on Current Directions in Modular Forms, Seattle, WA, Jan 2025. </li>
<li> Kansas State University Graduate Student Number Theory Seminar, Sep 2024. (remote)</li>
<li> Shandong University Number Theory Seminar, Jun 2024. (remote) </li>
<li> Stanford University Graduate Student Number Theory Seminar, Apr 2024. (remote)  </li>
<li> UIUC Number Theory Seminar, University of Illinois Urbana-Champaign, IL, Mar 2024. </li>
</ul>
&dagger; indicates upcoming talks.
</body>  

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full list of contributed talks</title>
</head>
    <h2>Contributed Talks</h2>
    <hr>
<body>
<ul>
<li> Annual Pure and Applied Mathematics (APAM) Conference, Bangkok, Thailand, Jun 2025. </li>
<li> Conference in Number Theory and Applications (CNA), Bangkok, Thailand, Jun 2025.</li>
<li> Automorphic Forms Workshop (AFW), Denton, TX, Apr 2025. </li>   
<li> UIUC Graduate Student Number Theory Seminar, University of Illinois Urbana-Champaign, IL, Apr 2025.  </li>
<li> UIUC Graduate Student Number Theory Seminar,  University of Illinois Urbana-Champaign, IL, Mar 2024.  </li>
<li> UIUC Graduate Student Number Theory Seminar,  University of Illinois Urbana-Champaign, IL, Nov 2023.  </li>
<li> The 20th International Conference on Fibonacci Numbers and Their Applications, University of Sarajevo, Jul 2022. (Remote)
  </li>
<li> Honors Thesis for Bowdoin College Department of Mathematics, Brunswick, ME, May 2021. (Remote) </li>
<li> The PAlmetto Joint Arithmetic, Modularity, and Analysis Series, Sep 2020. (Remote) </li>
<li> Bowdoin college President's Summer Research Symposium, Brunswick, ME, Oct 2019. 
</li>
    </ul>
&dagger; indicates upcoming talks.
</body>  

    


<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full list of conferences</title>

</head>
    <h2>Workshops and Conferences attended</h2>
    <hr>
<body>

<ul>
<li> Jan 2026: JMM, Joint Mathematics Meeting, Washington, DC &dagger;</li>
<li> Dec 2025: PANTS, PAlmetto Number Theory Series, Clemson, SC </li>
<li> Jun 2025: APAM, Annual Pure and Applied Mathematics Conference,  Bangkok, Thailand. </li>
<li> Jun 2025: CNA, Conference in Number Theory and Applications, Bangkok, Thailand. </li>    
<li> Apr 2025: AFW, Automorphic Forms Workshop, Denton, TX </li>   
<li> Mar 2025: MAGNTS, Midwest Arithmetic Geometry and Number Theory Conference, Columbus, OH </li>    
<li> Jan 2025: JMM, Joint Mathematics Meeting, Seattle, WA</li>
<li>  May 2024: Shanks Conference, International Conference on L-Functions and Automorphic Forms, Nashville, TN </li>
<li> Oct 2023: MAGNTS, Midwest Arithmetic Geometry and Number Theory Conference, Ann Arbor, MI </li>
<li>  Jan 2023: Spring Opportunities, Institue of Advanced Study, NJ </li>
<li>  Jun 2022: CTNT, Connecticut Summer School in Number Theory 2022, Storrs, CT </li>
<li>  July 2019: PCMI, Mathematics Undergraduate Summer School at Park city, UT </li>
 </ul>
&dagger; indicates upcoming conferences/workshops. 
</body>


<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Services</title>
</head>
    <h2>Professional Services</h2>
    <hr>
<body>
Referee :  International Mathematics Research Notices, Revue Roumaine des Sciences Techniques, Mathematical Reports.
 </body>   
<!--
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research highlights</title>
</head>
    <h2>Links to slides/resources </h2>
    <hr>
<body>
<ul>
    <li> <a href="/talks/2021-05-11-talk-1">On the Dirichlet L-functions and the L-functions of Cusp Forms</a>  </li>  
    <li> <a href="/talks/2020-09-01-talk-4">Modeling Random Walks to Infinity on Primes in $\mathbb{Z}[\sqrt{2}]$ </a> </li>  
    <li> <a href="/talks/2020-09-01-talk-3">Walking to Infinity Along Some Number Theory sequences
 </a>  </li>  
    <li> <a href="/talks/2019-10-31-talk-2">An Alternative Approach to Computing $\beta(2k + 1)$ </a> </li>  
    <li> <a href="/talks/2015-04-01-talk-6">Study of Overlapped Triangles with the Maximal Overlapped Area under Translation and Rotation </a>  </li>  
 </ul>
</body>
-->

    

<!-- </html>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->


