---
layout: archive
title: "Publications and Talks"
permalink: /talks/
author_profile: true
---

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full list of publications</title>

</head>
    <h2>Publications</h2>
    <hr>
<body>
    <ol>
        <li>
            <p>Effective correlation and decorrelation for newforms, and weak subconvexity for $L$-functions. <br>  (With an appendix by Jesse Thorner) <a href="http://arxiv.org/abs/2405.05249">(arXiv)</a></p> 
        </li>
        <li>
            <p>An Alternative Approach to Computing $\beta(2k + 1)$. (With N. Tanabe) Integers 23 (2023). <a href="http://math.colgate.edu/~integers/x72/x72.pdf">(pdf) </a></p>
        </li>
        <li>
            <p>Walking to Infinity on the Fibonacci Sequence. (With S. Miller, F. Peng, T. Popescu) <br> Fibonacci Quart. 60 (2022), no. 5, pp. 293-299. <a href="https://www.fq.math.ca/Papers1/60-5/miller2.pdf">(pdf)</a></p>
        </li>
        <li>
            <p>Modeling Random Walks to Infinity on Primes in $\mathbb{Z}[\sqrt{2}]$. (With B. Li, S. Miller, D. Sarnecki, T. Popescu) <br> J. Integer Seq. 25 (2022), 21 pp. <a href="http://ploynawapan.github.io/files/miller11.pdf">(pdf)</a></p>
        </li>
        <li>
            <p>Walking to Infinity Along Some Number Theory Sequences. (With Steven J. Miller, Fei Peng, Tudor Popescu, Joshua Siktar, and the Polymath REU program) arXiv preprint, arXiv:2010.14932. <a href="https://arxiv.org/abs/2010.14932">(arXiv)</a></p>
        </li>
    </ol>
</body>

    
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full list of talks</title>
</head>
    <h2>Talks</h2>
    <hr>
<body>
<ul>
<li> JMM: AMS Special Session on current directions in modular forms, Seattle, WA, Jan 2025.&dagger; </li>
<li> Kansas State University Graduate Student Number Theory Seminar, Sep 2024. (remote)&dagger; </li>
<li> Shandong University Number Theory Seminar, June 2024. (remote) </li>
<li> Stanford University Graduate Student Number Theory Seminar, Apr 2024. (remote)  </li>
<li> UIUC Number Theory Seminar, Urbana, IL, March 2024. </li>
<li> UIUC Graduate Student Number Theory Seminar,  Urbana, IL, Mar 2024 & Nov 2023.  </li>
<li> The 20th International Conference on Fibonacci Numbers and Their Applications, University of Sarajevo, Jul 2022. (Remote)
  </li>
<li> Honors Thesis for Bowdoin College Department of Mathematics, Brunswick, ME, May 2021. (Remote) </li>
<li> The PAlmetto Joint Arithmetic, Modularity, and Analysis Series, Sep 2020. (Remote) </li>
<li> Bowdoin college President's Summer Research Symposium, Brunswick, ME, Oct 2019. 
</li>
    </ul>

&dagger; indicates upcoming talks.  
  

  <br><hr align="center" width="50%">  <br>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research highlights</title>
</head>
    <h2>Research highlights</h2>
    <hr>

<a href="/talks/2021-05-11-talk-1">CSS Tutorial</a>    
</html>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}


