---
layout: archive
title: " "
permalink: /teaching/
author_profile: true
---

<head>
  <style>
.page__title {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.archive {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.page__inner,
.page__content,
.main {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
</style>
</head>

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduate Teaching Assistant</title>
</head>
    <h2>Graduate Teaching Assistant</h2>
    <hr>
<body>
  <ul>
        <li>
            Fall 2024: Instructor for UIUC Math Circle, University of Illinois Urbana-Champaign
        </li>
        <li>
            Graduate Teaching Assistant, University of Illinois Urbana-Champaign
            <ul>
                <li>Summer 2024: MATH 257 Linear Algebra with Computational Applications (NetMath program)</li>
                <li>Spring 2024: MATH 220 Calculus, Differential Calculus (Head TA) &dagger;</li>
                <li>Fall 2023: MATH 221 Calculus I, Differential Calculus &dagger;</li>
                <li>Spring 2023: MATH 220 Calculus, Differential Calculus (Head TA) &dagger;</li>
                <li>Fall 2022: MATH 220 Calculus, Differential Calculus &dagger;</li>
                <li>Spring 2022: MATH 220 Calculus, Differential Calculus &dagger;</li>
                <li>Fall 2021: MATH 231 Calculus II, Integral Calculus</li>
            </ul>
         </li>
        <li>
        Graduate Mathematics Grader, University of Illinois Urbana-Champaign   
            <ul>
            <li> Summer 2023: MATH 347 Fundamental Mathematics </li>
            </ul>
        </li>
         &dagger; indicates "ranked as an excellent teacher by students".
  </ul>
     </body>

    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undergraduate Teaching Assistant</title>
</head>
    <h2>Undergraduate Teaching Assistant</h2>
    <hr>
<body>
    <ul>
        <li>
            Summer 2020: Polymath REU Teaching Assistant, Remote
            <ul>
                <li>Organized weekly activities and logistics; coordinated with the mentor; guided students throughout the project.</li>
            </ul>
        </li>
        <li>
            2018-2019: Quantitative Reasoning Tutor, Bowdoin College
            <ul>
                <li>Tutored during Students’ of Color study night; helped with math reasoning, linear algebra, and calculus.</li>
             </ul>
        <li> Undergraduate Mathematics Grader for the following courses:
                <ul>
                    <li>Fall 2019: MATH 2303 Functions of Complex Variables</li>
                    <li>Fall 2019: MATH 2602 Introduction to Group Theory</li>
                    <li>Spring 2019: MATH 2020 Mathematical Reasoning</li>
                    <li>Fall 2018: MATH 2020 Mathematical Reasoning</li>
                </ul>
        </li>
        </ul>
    </body>

    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching Service in Thailand</title>
</head>
    <h2>Teaching Service in Thailand/ for the Thai Government</h2>
    <hr>
<body>
  <ul>
        <li>
            Summers 2022, 2017, 2016: Invited Speaker, Benchama Maharat School
            <ul>
                <li>Invited to give lectures to prepare over 200 middle/high school students for the first regional round towards Thailand Mathematical Olympiad.</li>
            </ul>
        </li>
        <li>
            Winters 2018, 2019: College Application Reader, SIT Graduate institution, VT, US
        <ul>
                <li>Worked with a program funded by the Thai Government, facilitated Thai students through American college application system.</li>
            </ul>
        </li>
        <li>
            Summer 2018: Mathematics Teaching Assistant, Brewster Academy, NH, US
            <ul>
                <li>Worked with a program funded by the Thai Government, facilitated SAT preparation class, organized activities.</li>
            </ul>
        </li>
        <li>
            Summer 2017: Teaching Volunteer, Chiangrai, Thailand
            <ul>
                <li>Volunteered as a teacher, providing education and mentorship to students in underserved hill communities.</li>
            </ul>
        </li>
     </ul>
  </ul>
     </body>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research highlights</title>
</head>
    <h2>Links to some teaching highlights </h2>
    <hr>
<body>
<ul>
    <li> <a href="/teaching/2022-Summer-Teaching">July 2022 Invited Speaker at Benchama Maharat School</a>  </li>  
    <li> <a href="/teaching/2019-2020-Winter-Program">2019 & 2020 Winter Program for Thai Scholars</a> </li>  
    <li> <a href="/teaching/2018-Brewster-Summer">2018 Summer Camp for Thai Scholars</a>  </li>  
    <li> <a href="/teaching/2017-volunteer-chiangrai">Teaching Volunteer (Kru-Ar-Sah)</a> </li>  
 </ul>
</body>

    
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching highlights</title>
</head>
    <h2>Teaching highlights</h2>
    <hr>
</html>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
