---
layout: archive
title: " "
permalink: /teaching/
author_profile: true
---

<head>
  <style>
.page__title {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.archive {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.page__inner,
.page__content,
.main {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
</style>
</head>

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduate Teaching Assistant</title>
</head>
    <h2>Teaching Experiences</h2>
    <hr>
<body>
  <ul>
        <li>
            Graduate Teaching Assistant, University of Illinois Urbana-Champaign
            <ul>
                <li>Summer 2024: MATH 257 Linear Algebra with Computational Applications (NetMath program)</li>
                <li>Spring 2024: MATH 220 Calculus, Differential Calculus (Head TA) &dagger;</li>
                <li>Fall 2023: MATH 221 Calculus I, Differential Calculus &dagger;</li>
                <li>Spring 2023: MATH 220 Calculus, Differential Calculus (Head TA) &dagger;</li>
                <li>Fall 2022: MATH 220 Calculus, Differential Calculus &dagger;</li>
                <li>Spring 2022: MATH 220 Calculus, Differential Calculus &dagger;</li>
                <li>Fall 2021: MATH 231 Calculus II, Integral Calculus</li>
            </ul>
         </li>
           &dagger; indicates "ranked as an excellent teacher by students".
        <li>
        Graduate Mathematics Grader, University of Illinois Urbana-Champaign   
            <ul>
            <li> Summer 2023: MATH 347 Fundamental Mathematics </li>
            </ul>
        </li>
      <li>
            Quantitative Reasoning Tutor, Bowdoin College
            <ul>
                <li>2018-2019: Helped with several math courses during Students’ of Color study night.</li>
             </ul>
        </li>
        <li> Undergraduate Mathematics Grader, Bowdoin College
                <ul>
                    <li>Fall 2019: MATH 2303 Functions of Complex Variables</li>
                    <li>Fall 2019: MATH 2602 Introduction to Group Theory</li>
                    <li>Spring 2019: MATH 2020 Mathematical Reasoning</li>
                    <li>Fall 2018: MATH 2020 Mathematical Reasoning</li>
                </ul>
        </li>
  </ul>
     </body>

    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentorship & Outreach</title>
</head>
    <h2>Mentorship & Outreach</h2>
    <hr>
<body>
    <ul>
      <li>
            Fall 2024: Instructor for UIUC Math Circle, University of Illinois Urbana-Champaign
        </li>
      <ul style="font-size: 0.9em;">
         <li>Offered a free weekly extracurricular math program for middle and high school students, fostering enthusiasm and supporting younger learners in the Champaign-Urbana area</li>
         </ul>
        <li>
            Summer 2020: Polymath Jr. REU Teaching Assistant, Remote
            <ul style="font-size: 0.9em;">
                <li>Guided undergraduate students through research projects and organized weekly activities under the supervision of Steven Miller (Williams College), fostering early research skills.</li>
            </ul>
        </li>
        <li>
            Summers 2022, 2017, 2016: Invited Speaker, Benchama Maharat School
            <ul style="font-size: 0.9em;">
                <li>Delivered lectures to over 200 middle and high school students, preparing them for national math competitions, expanding access to advanced mathematical preparation.</li>
            </ul>
        </li>
        <li>
           Winters 2018, 2019: Academic Program Assistant, SIT Graduate institution, VT, US
            <ul style="font-size: 0.9em;">
                <li>Provided mentorship for Thai Government scholarship recipients transitioning to U.S. higher education, guiding students through the U.S. college application process.
                </li>
            </ul>
        </li>
         <li>
           Summer 2018: Academic Program Assistant, Brewster Academy, NH, US
           <ul style="font-size: 0.9em;">
                <li>Provided mentorship for Thai Government scholarship recipients transitioning to U.S. higher education, aiding acclimation and 
                  skill-building via SAT prep and activities.
                </li>
            </ul>
        </li>
        <li>
            Summer 2017: Teaching Volunteer, Chiangrai, Thailand
            <ul style="font-size: 0.9em;">
                <li>Volunteered as a teacher for students from underrepresented ethnic groups, planning activities and providing short courses in various subjects</li>
            </ul>
        </li>
        </ul>
    </body>



<!-- <head>
  <meta charset="UTF-8">
  <title>Some teaching highlights</title>
  <style>
    .image-row {
      display: flex;
      justify-content: space-around; /* or space-between */
      align-items: center;
      margin: 20px;
    }

    .image-row a img {
      width: 200px;  /* adjust as needed */
      height: auto;
      border-radius: 8px; /* optional rounded corners */
      transition: transform 0.2s;
    }

    .image-row a img:hover {
      transform: scale(1.05); /* slight zoom on hover */
    }
  </style>
</head>
    <h2> Teaching highlights </h2>
    <hr>
<body>

  <div class="image-row">
  <div class="image-box">
    <a href="/teaching/2022-Summer-Teaching" target="_self">
      <img src='/images/POSN1.JPG' alt="Image 1">
    </a>
   <div class="image-label">Highschool Math bootcamp</div>
  </div>
   <div class="image-box">
    <a href="/teaching/2019-2020-Winter-Program" target="_self">
      <img src='/images/sit2.png'  alt="Image 2">
    </a>
     <div class="image-label">Thai scholar winter programs</div>
  </div>
   <div class="image-box">
    <a href="/teaching/2018-Brewster-Summer" target="_self">
      <img src='/images/ba1.png' alt="Image 3">
    </a>
   <div class="image-label">Summer school at Brewster</div>
  </div>
  <div class="image-box">
    <a href="/teaching/2017-volunteer-chiangrai" target="_self">
      <img src='/images/ch4.png' alt="Image 4">
    </a>
   <div class="image-label">Volunteering teacher</div>
  </div>
  </div>

</body>
  -->


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research highlights</title>
</head>
    <h2>Some teaching highlights </h2>
    <hr>
<body>
<ul style="font-size: 0.9em;">
    <li> <a href="/teaching/2022-Summer-Teaching">July 2022 Invited Speaker at Benchama Maharat School</a>  </li>  
    <li> <a href="/teaching/2019-2020-Winter-Program">2019 & 2020 Winter Program for Thai Scholars</a> </li>  
    <li> <a href="/teaching/2018-Brewster-Summer">2018 Summer Camp for Thai Scholars</a>  </li>  
    <li> <a href="/teaching/2017-volunteer-chiangrai">Teaching Volunteer (Kru-Ar-Sah)</a> </li>  
 </ul>
</body>


    
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching highlights</title>
</head>
    <h2>Teaching highlights</h2>
    <hr>
</html>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
