---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduate Teaching Assistant</title>
</head>
    <h2>Graduate Teaching Assistant</h2>
    <hr>
<body>
        <li>
            Instructor for <a href="https://math.illinois.edu/academics/graduate-program/awm-graduate-student-chapter-illinois/uiuc-math-circle">UIUC Math Circle<\a>, University of Illinois Urbana-Champaign
        </li>
        <li>
            <font color=#808000>Graduate Teaching Assistant</font>, University of Illinois Urbana-Champaign
            <ul>
                <li>Summer 2024: MATH 257 Linear Algebra with Computational Applications</li>
                <li>Spring 2024: MATH 220 Calculus, Differential Calculus (Head TA) &dagger;</li>
                <li>Fall 2023: MATH 221 Calculus I, Differential Calculus &dagger;</li>
                <li>Spring 2023: MATH 220 Calculus, Differential Calculus (Head TA) &dagger;</li>
                <li>Fall 2022: MATH 220 Calculus, Differential Calculus &dagger;</li>
                <li>Spring 2022: MATH 220 Calculus, Differential Calculus &dagger;</li>
                <li>Fall 2021: MATH 231 Calculus II, Integral Calculus</li>
            </ul>
            &dagger; indicates "ranked as an excellent teacher by students".
         </li>
     </body>

    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undergraduate Teaching Assistant</title>
</head>
    <h2>Undergraduate Teaching Assistant</h2>
    <hr>
<body>
        <li>
            Summer 2020: <font color=#808000>Polymath REU Teaching Assistant</font>, Remote
            <ul>
                <li>Organized weekly activities and logistics; coordinated with the mentor; guided students throughout the project.</li>
            </ul>
        </li>
        <li>
            2018-2019: <font color=#808000>Quantitative Reasoning Tutor</font>, Bowdoin College
            <ul>
                <li>Tutored during Students’ of Color study night; helped with math reasoning, linear algebra, and calculus.</li>
                <li> <font color=#808000>Undergraduate Mathematics Grader</font> for the following courses:
                <ul>
                    <li>Fall 2018, Spring 2019: MATH 2020 Mathematical Reasoning</li>
                    <li>Fall 2019: MATH 2303 Functions of Complex Variables</li>
                    <li>Fall 2019: MATH 2602 Introduction to Group Theory</li>
                </ul>
            </ul>
        </li>
    </body>

    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching Service in Thailand</title>
</head>
    <h2>Teaching Service in Thailand/ for the Thai government</h2>
    <hr>
<body>
        <li>
            Summer 2022, 2017, 2016: <font color=#808000>Invited Speaker</font>, Benchama Maharat School
            <ul>
                <li>Invited to give lectures to prepare over 200 middle/high school students for the first regional round towards Thailand Mathematical Olympiad.</li>
            </ul>
        </li>
        <li>
            Winter 2018, 2019: <font color=#808000>College Application Reader</font>, SIT Graduate institution, VA, US
        <ul>
                <li>Worked with a program funded by the Thai Government, facilitated Thai students through American college application system.</li>
            </ul>
        </li>
        <li>
            Summer 2018: <font color=#808000>Mathematics Teaching Assistant</font>, Brewster Academy, NH, US
            <ul>
                <li>Worked with a program funded by the Thai Government, facilitated SAT preparation class, organized activities.</li>
            </ul>
        </li>
     </ul>
     </body>

    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching highlights</title>
</head>
    <h2>Teaching highlights</h2>
    <hr>
</html>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
